<% for column in Arbitre.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @arbitre.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @arbitre %> |
<%= link_to 'Back', :action => 'list' %>
