<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Blogsmith
Description: A two-column, fixed-width blog design.
Version    : 1.0
Released   : 20071001
Modifs     : Romain de Wolff & Bruno da Silva
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>rubyParis</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
  <%= stylesheet_link_tag "default", :media => "screen" %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "jquery" %>
  <script type="text/javascript">
  	// fonction pour AJAX en utilisant la librairie jQuery et ROR
   function lookup(inputString) {
      if(inputString.length == 0) {
         $('#suggestions').hide();
      } else {
         $.post("/ajax/liste_ajax", {eq: ""+inputString+""}, function(data){
            if(data.length >2) {
               $('#suggestions').show();
               $('#autoSuggestionsList').html(data);
            }
         });
      }
   } // lookup
   
   function fill(thisValue) {
      window.location = '/equipes/eq?eq=' + thisValue;
   }
  </script>
</head>
<body>
<!-- start header -->
<div id="logo">
   <h1><a href="#">rubyParis</a></h1>
   <p>par Romain de Wolff et Bruno da Silva</p>
</div>
<div id="menu">
   <ul>
      <%= @params[:controller] == 'rubyparis' ? "<li class='current_page_item'>" : "<li>" %>
		<%= (link_to "Home", :home_url) + '</li>' %> 

      <%= @params[:controller] == 'competitions' ? "<li class='current_page_item'>" : "<li>" %>
      <%= link_to "Compétitions", :controller => 'competitions', :action => 'list' %></li>
      
		<%= @params[:controller] == 'equipes' ? "<li class='current_page_item'>" : "<li>" %>
      <%= link_to "Equipes", :controller => 'equipes', :action => 'list' %></li>
		
		<% # liens en fonction des droits de l'utilisateur %>
			<% if session[:user] %>
			   <li><%= link_to "Logout", :controller => 'rubyparis', :action => 'logout' %></li>
			<% else %>
			   <li><%= link_to "S'identifier", :controller => 'rubyparis' %></li>
				<%= @params[:controller] == 'vparieurs' ? "<li class='current_page_item'>" : "<li>" %>
			   <%= link_to "Créer un compte", :controller => 'vparieurs', :action => 'new' %></li>
			<% end %>
   </ul>
</div>
<!-- end header -->
<!-- start page -->
<div id="page">
   <div id="page-bg">
      <% if session[:admin] %>
     	<div>Admin :: 
		    <%= link_to "Joueurs", :controller => 'vjoueurs', :action => 'list' %> |
			 <%= link_to "Position", :controller => 'positions', :action => 'list' %> |  
			 <%= link_to "Entraineurs", :controller => 'ventraineurs', :action => 'list' %> | 
			 <%= link_to "Arbitres", :controller => 'varbitres', :action => 'list' %> | 
			 <%= link_to "Equipes", :controller => 'equipes', :action => 'list' %> | 
			 <%= link_to "Nations", :controller => 'nations', :action => 'list' %> | 
			 <%= link_to "Compétitions", :controller => 'competitions', :action => 'list' %> | 
			 <%= link_to "Groupes", :controller => 'groupes', :action => 'list' %> | 
			 <%= link_to "Matchs", :controller => 'matchs', :action => 'list' %> | 
			 <%= link_to "Résultats", :controller => 'matchs', :action => 'resultats' %>
      </div>
		<% end %>
		
      <% if request.request_uri == "/home" || request.request_uri == "/" %>
      <div id="latest-post"> <img src="/images/img04.png" alt="" width="140" height="140" class="right" />
         <h1>Bienvenue!</h1>
         <p><strong>rubyParis</strong> est un site de paris sur des matchs de foot en ligne. Il a été développé en Ruby On Rails pour un projet en Technologie Web à l'école d'ingénieur d'Yverdon-les-Bains en Suisse. <br/><br/>
         Vous pouvez nous écrire aux adresses suivantes : <br/>
         <a href="mailto:romain.de-wolff@heig-vd.ch">Romain de Wolff</a><br/>
         <a href="mailto:bruno.da-silva@heig-vd.ch">Bruno da Silva</a>
         </p>
      </div>
		
		<% end %>
		
      <!-- contenu démarre ici -->
      <div id="content">