<h1>Modification d'un arbitre</h1>

<% form_tag :action => 'update', :id => @varbitre do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Modifier' %>
<% end %>

<%= link_to 'Afficher', :action => 'show', :id => @varbitre %> |
<%= link_to 'Retour', :action => 'list' %>
