<%= error_messages_for 'competitions_parieur' %>

<!--[form:competitions_parieur]-->
<p><label for="competitions_parieur_resultat">Resultat</label><br/>
<%= text_field 'competitions_parieur', 'resultat'  %></p>
<!--[eoform:competitions_parieur]-->

