<% for column in CompetitionsParieur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @competitions_parieur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @competitions_parieur %> |
<%= link_to 'Back', :action => 'list' %>
