<% for column in Utilisateur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @utilisateur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @utilisateur %> |
<%= link_to 'Back', :action => 'list' %>
