<h1>Modification d'une position</h1>

<% form_tag :action => 'update', :id => @position do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @position %> |
<%= link_to 'Back', :action => 'list' %>
