<% for match in @matchs %>
  <li><%= link_to match.equipea.nom + '-' + match.equipeb.nom + ' (' + match.date.strftime("%d-%m-%y") + ')' , :controller => 'matchs', :action => 'show', :id => match %></li>
<% end %>
