<% for equipe in @equipe %>

Nom : <%=equipe.nom%> 

<br/>

Pays : <%=equipe.pays%> 

<br/>

Stade : <%=equipe.stade%>

<br/>

URL : <%=equipe.url%>

<br/> 

Joueurs : <br/> 

<% for jou in equipe.joueur %>

<%= jou.sportif.personne.nom + ' ' + jou.sportif.personne.prenom %> <br/>

<% end %>

<br/><br/>

<% end %>