<h1>Editing equipe</h1>

<% form_tag :action => 'update', :id => @equipe do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @equipe %> |
<%= link_to 'Back', :action => 'list' %>
