<h1>Modification d'équipe</h1>

<% form_tag :action => 'update', :id => @equipe do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Modifier' %>
<% end %>

<%= link_to 'Afficher', :action => 'show', :id => @equipe %> |
<%= link_to 'Retour', :action => 'list' %>
