<% for column in Equipe.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @equipe.send(column.name) %>
</p>
<% end %>

<%= "<b>Entraineur</b> : #{@equipe.entraineur.sportif.personne.nom }" %>
 
<br/>

<%= "<b>Joueurs:</b> #{@equipe.joueur}" %>


<%= link_to 'Edit', :action => 'edit', :id => @equipe %> |
<%= link_to 'Back', :action => 'list' %>
