<% for column in Joueur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @joueur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @joueur %> |
<%= link_to 'Back', :action => 'list' %>
