<% for column in Competition.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @competition.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @competition %> |
<%= link_to 'Back', :action => 'list' %>
