<% for column in Vjoueur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @vjoueur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Modifier', :action => 'edit', :id => @vjoueur %> |
<%= link_to 'Retour', :action => 'list' %>
