<%= error_messages_for 'matchs_parieur' %>

<!--[form:matchs_parieur]-->
<p><label for="matchs_parieur_resultat">Resultat</label><br/>
<%= text_field 'matchs_parieur', 'resultat'  %></p>
<!--[eoform:matchs_parieur]-->

