<h1>Editing matchs_parieur</h1>

<% form_tag :action => 'update', :id => @matchs_parieur do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @matchs_parieur %> |
<%= link_to 'Back', :action => 'list' %>
