<% for column in Vparieur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @vparieur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Modifier', :action => 'edit', :id => @vparieur %> |
<%= link_to 'Retour', :action => 'list' %>
