<%= error_messages_for 'personnes' %>

<!--[form:personnes]-->
<p><label for="personnes_nom">Nom</label><br/>
<%= text_field 'personnes', 'nom'  %></p>

<p><label for="personnes_prenom">Prenom</label><br/>
<%= text_field 'personnes', 'prenom'  %></p>
<!--[eoform:personnes]-->

