<%= error_messages_for 'paris_match' %>

<!--[form:paris_match]-->
<p><label for="paris_match_parieur">Parieur</label><br/>
<%= text_field 'paris_match', 'parieur'  %></p>

<p><label for="paris_match_resultat">Resultat</label><br/>
<%= text_field 'paris_match', 'resultat'  %></p>
<!--[eoform:paris_match]-->

