<%= error_messages_for 'sportifs' %>

<!--[form:sportifs]-->
<p><label for="sportifs_dateNaissance">Datenaissance</label><br/>
<%= date_select 'sportifs', 'dateNaissance'  %></p>

<p><label for="sportifs_taille">Taille</label><br/>
<%= text_field 'sportifs', 'taille'  %></p>


<!--[eoform:sportifs]-->
