<h1>Editing Entraineur</h1>

<% form_tag :action => 'update', :id => @ventraineur do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @ventraineur %> |
<%= link_to 'Back', :action => 'list' %>
