<% for column in ParisMatch.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @paris_match.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @paris_match %> |
<%= link_to 'Back', :action => 'list' %>
