<%= error_messages_for 'groupes' %>

<!--[form:groupes]-->
<p><label for="groupes_nbEquipe">Nbequipe</label><br/>
<%= text_field 'groupes', 'nbEquipe'  %></p>

<p><label for="groupes_allerRetour">Allerretour</label><br/>
<select id="groupes_allerRetour" name="groupes[allerRetour]"><option value="false">False</option><option value="true">True</option></select></p>

<!--[eoform:groupes]-->

