<% for column in Administrateur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @administrateur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @administrateur %> |
<%= link_to 'Back', :action => 'list' %>
