<% for column in Vadministrateur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @vadministrateur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Modifier', :action => 'edit', :id => @vadministrateur %> |
<%= link_to 'Retour', :action => 'list' %>
