<h1>Editing paris_competition</h1>

<% form_tag :action => 'update', :id => @paris_competition do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @paris_competition %> |
<%= link_to 'Back', :action => 'list' %>
