<% for column in Varbitre.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @varbitre.send(column.name) %>
</p>
<% end %>

<%= link_to 'Modifier', :action => 'edit', :id => @varbitre %> |
<%= link_to 'Retour', :action => 'list' %>
