<h1>Modification d'un entraineur</h1>

<% form_tag :action => 'update', :id => @ventraineur do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Modifier' %>
<% end %>

<%= link_to 'Afficher', :action => 'show', :id => @ventraineur %> |
<%= link_to 'Retour', :action => 'list' %>
