<% for column in Ventraineur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ventraineur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ventraineur %> |
<%= link_to 'Back', :action => 'list' %>
