<% for column in MatchsParieur.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @matchs_parieur.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @matchs_parieur %> |
<%= link_to 'Back', :action => 'list' %>
