<%= error_messages_for 'utilisateurs' %>

<!--[form:utilisateurs]-->
<p><label for="utilisateurs_login">Login</label><br/>
<%= text_field 'utilisateurs', 'login'  %></p>

<p><label for="utilisateurs_password">Password</label><br/>
<%= password_field 'utilisateurs', 'password'  %></p>

<p><label for="utilisateurs_email">Email</label><br/>
<%= text_field 'utilisateurs', 'email'  %></p>
<!--[eoform:utilisateurs]-->

