
<p>
	<h2><%= @match.equipea.nom + " " + (@match.scoreA || " ") + " - " + (@match.scoreB || " ")  + " " + @match.equipeb.nom%></h2><br>
	<b>Competition: <%= @match.groupe.competition.nom %></b><br>
	<b>Groupe: <%= @match.groupe.nom %></b><br>
	<b>Lieu: <%= @match.lieu %></b><br>
	<b>Date: <%= @match.date.strftime("%y-%m-%d") %></b><br>
	<b>Heure: <%= @match.heure %></b><br>
</p>

<%= link_to 'Modifier', :action => 'edit', :id => @match %> |
<%= link_to 'Retour', :action => 'list' %>

